@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: Montserrat;
  margin: 0;
  font-size: 20px;
  background-color: #79aded;
}

/* _______________Menú de navegación principal______________________*/
/* contiene todo en una columna centrada */
.mainInicio {
  background-color: #79aded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor {
  max-width: 60rem;
  margin: 0px auto;
  /* para que deje el espacio a lado y lado*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* para que sus elementos queden en linea*/
  padding: 3px 5px;
  /* espacio a lado y lado*/
}

.mainInicio__logo {
  width: 17rem;
  height: 3.35rem;
  margin-top: 2rem;
}

.mainNav {
  display: wrap;
  padding: 3rem 5rem;
  /* espacio a lado y lado*/
}

.mainNav__link {
  color: #fff;
  text-decoration: none;
  padding: .3em .4em;
  font-size: 1em;
}

.mainNav__link:hover {
  color: #efd9aa;
}

.mainnav__link:nth-child(1) {
  margin-left: -.4em;
}

.banner__imagenInicial {
  width: 100%;
  margin: 0;
}

.banner__info {
  position: absolute;
  top: 35em;
  left: 10em;
  font-size: 60%;
  color: white;
}

.banner__titulo {
  -webkit-text-fill-color: none;
  -webkit-text-stroke-width: .05em;
  -webkit-text-stroke-color: white;
  color: rgba(0, 0, 0, 0.1);
  font-size: 9em;
  margin: 0;
}

.banner__titulo2 {
  font-style: normal;
  font-weight: 700;
  font-size: 6em;
  margin: 0;
}

.banner__parrafoUno {
  font-size: 2em;
}

.banner__boton {
  height: 100%;
  width: 50%;
  background-color: #3C948B;
  border-top-right-radius: 11em;
  border-bottom-right-radius: 11em;
  border: none;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  outline: none;
}

.banner__button:hover {
  background-color: #71c5bd;
  cursor: pointer;
}

.mainTestimonios {
  background-image: url(../images/fondoTestimonios.png);
}

.mainTestimonios__fondo {
  width: 100%;
  margin: 0;
  position: absolute;
}

@media (max-width: 720px) {
  .banner__info {
    font-size: 40%;
  }
}

.mainTestimonios__contenedor {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12rem 6rem;
  /* espacio a lado y lado*/
  margin: 0px auto;
}

.contenedorUno {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.contenedorDos {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.contenedorTres {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.publicidad__uno {
  width: 100%;
  padding: 100px;
}

.publicidad__dos {
  width: 100%;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs__boyImage {
  width: 50%;
  display: inline;
}

.aboutUs__contenedorTexto {
  color: white;
  padding: 3em;
}

.aboutUs__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__contenedor {
  width: 400px;
  height: 300px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */