@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: Montserrat;
  margin: 0;
  font-size: 20px;
  background-color: #79aded;
}

/* _______________Menú de navegación principal______________________*/
/* contiene todo en una columna centrada */
.mainInicio {
  background-color: #79aded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor {
  max-width: 60rem;
  margin: 0px auto;
  /* para que deje el espacio a lado y lado*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* para que sus elementos queden en linea*/
  padding: 3px 5px;
  /* espacio a lado y lado*/
}

.mainInicio__logo {
  width: 17rem;
  height: 3.35rem;
  margin-top: 2rem;
}

.mainNav {
  display: wrap;
  padding: 3rem 5rem;
  /* espacio a lado y lado*/
}

.mainNav__link {
  color: #fff;
  text-decoration: none;
  padding: .3em .4em;
  font-size: 1em;
}

.mainNav__link:hover {
  color: #efd9aa;
}

.mainnav__link {
  margin-left: -.4em;
}

.burgerBtn {
  width: 2em;
  height: 2em;
  display: none;
  cursor: pointer;
}

/* _______________BANNER INICIAL!!!______________________*/
.banner {
  background-image: url(../images/imagenInicio.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 1000px;
  margin: 0;
}

.banner__imagenMobile {
  opacity: 0;
  position: static;
}

.banner__info {
  position: absolute;
  top: 40em;
  left: 10em;
  font-size: 60%;
  color: white;
}

.banner__titulo {
  -webkit-text-fill-color: none;
  -webkit-text-stroke-width: .03em;
  -webkit-text-stroke-color: white;
  color: rgba(0, 0, 0, 0.1);
  font-size: 9em;
  font-weight: 700;
  margin: 0;
}

.banner__titulo2 {
  font-style: normal;
  font-weight: 700;
  font-size: 6em;
  margin: 0;
}

.banner__parrafoUno {
  font-size: 2em;
}

.banner__boton {
  font-size: 2em;
  font-weight: 200;
  color: white;
  height: 100%;
  width: 50%;
  background-color: #efd9aa;
  border-radius: 11em;
  border: none;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  outline: none;
}

.banner__boton:hover {
  background-color: #79aded;
  cursor: pointer;
}

@media (max-width: 600px) {
  /* _______________ media -- barra de menu ______________________*/
  .burgerBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 9%;
    margin-top: 10%;
  }
  .mainNav {
    position: absolute;
    display: none;
  }
  .banner {
    background-image: none;
  }
  /* _______________ media -- Bannner ______________________*/
  .banner__info {
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40%;
    top: 80px;
  }
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs__Image {
  width: 100%;
}

.aboutUs__ImageBoy {
  width: 100%;
}

.aboutUs__contenedorTexto {
  color: white;
  padding: 1.5em;
  width: 100%;
}

.aboutUs__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloQuinientos {
  background-color: #ffaaaf;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 20px 0px 0px;
  font-size: 60px;
}

.tituloQuinientos h1 {
  margin: 0;
}

.tituloDos {
  margin: 0;
  font-size: 15px;
  width: 400px;
}

.mainTestimonios {
  background-image: url(../images/fondoTestimonios.png);
}

.mainTestimonios__fondo {
  width: 100%;
  margin: 0;
  position: absolute;
}

.mainTestimonios__contenedor {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12rem 6rem;
  /* espacio a lado y lado*/
  margin: 0px auto;
}

.contenedorUno {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.contenedorDos {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.contenedorTres {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.publicidad__uno {
  width: 100%;
  padding: 100px;
}

.publicidad__dos {
  width: 100%;
}

@media (max-width: 600px) {
  /* _______________ media -- testimonios ______________________*/
  .mainTestimonios__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutUs__Image {
    width: 100%;
  }
}

.sliderMensage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  height: 600px;
  margin: 0 auto;
}

.sliderMensage__image {
  width: 100%;
  height: 100%;
}

.sliderMensage__input {
  -webkit-appearance: none;
  width: 100%;
  margin: 11px 0;
  background: #79aded;
  padding: 30px;
}

.sliderMensage__input:focus {
  outline: none;
}

.sliderMensage__input::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: rgba(255, 145, 216, 0.7);
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}

.sliderMensage__input::-webkit-slider-thumb {
  border: 5px solid rgba(255, 145, 216, 0.7);
  height: 29px;
  width: 30px;
  border-radius: 12px;
  background: #ffff9a;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}

table {
  border: 1px solid white;
  color: white;
  height: 400px;
}

th {
  padding: 20px;
  border: 1px solid white;
  text-align: center;
}

td {
  padding: 20px;
  border: 1px solid white;
}

.especificaciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */