@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: Montserrat;
  margin: 0;
  font-size: 20px;
  background-color: #79aded;
}

/* _______________Menú de navegación principal______________________*/
/* contiene todo en una columna centrada */
.mainInicio {
  background-color: #79aded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner {
  background-image: url(../images/imagenInicio.png);
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 1000px;
  margin: 0;
}

.banner__imagenMobile {
  opacity: 0;
  position: static;
}

.contenedor {
  max-width: 60rem;
  margin: 0px auto;
  /* para que deje el espacio a lado y lado*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* para que sus elementos queden en linea*/
  padding: 3px 5px;
  /* espacio a lado y lado*/
}

.mainInicio__logo {
  width: 17rem;
  height: 3.35rem;
  margin-top: 2rem;
}

.mainNav {
  display: wrap;
  padding: 3rem 5rem;
  /* espacio a lado y lado*/
}

.mainNav__link {
  color: #fff;
  text-decoration: none;
  padding: .3em .4em;
  font-size: 1em;
}

.mainNav__link:hover {
  color: #efd9aa;
}

.mainnav__link:nth-child(1) {
  margin-left: -.4em;
}

.burgerBtn {
  width: 2em;
  height: 2em;
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .burgerBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 9%;
    margin-top: 10%;
  }
  .mainNav {
    position: absolute;
    display: none;
  }
  .banner {
    background-image: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .banner__info {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 40%;
    top: 80px;
  }
  .mainTestimonios__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutUs__Image {
    width: 100%;
  }
}

.banner__info {
  position: absolute;
  top: 35em;
  left: 10em;
  font-size: 60%;
  color: white;
}

.banner__imagenMobile {
  width: 100vw;
}

.banner__titulo {
  -webkit-text-fill-color: none;
  -webkit-text-stroke-width: .03em;
  -webkit-text-stroke-color: white;
  color: rgba(0, 0, 0, 0.1);
  font-size: 9em;
  font-weight: 700;
  margin: 0;
}

.banner__titulo2 {
  font-style: normal;
  font-weight: 700;
  font-size: 6em;
  margin: 0;
}

.banner__parrafoUno {
  font-size: 2em;
}

.banner__boton {
  font-size: 2em;
  font-weight: 200;
  color: white;
  height: 100%;
  width: 50%;
  background-color: #efd9aa;
  border-radius: 11em;
  border: none;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
  outline: none;
}

.banner__boton:hover {
  background-color: #79aded;
  cursor: pointer;
}

.mainTestimonios {
  background-image: url(../images/fondoTestimonios.png);
}

.mainTestimonios__fondo {
  width: 100%;
  margin: 0;
  position: absolute;
}

@media (max-width: 600px) {
  .banner {
    background-image: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .banner__info {
    font-size: 40%;
    position: relative;
    top: 80px;
  }
  .banner__imagenMobile {
    opacity: 100;
  }
}

.mainTestimonios__contenedor {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12rem 6rem;
  /* espacio a lado y lado*/
  margin: 0px auto;
}

.contenedorUno {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.contenedorDos {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.contenedorTres {
  background-color: white;
  width: 285px;
  height: 600px;
  margin: 25px;
}

.publicidad__uno {
  width: 100%;
  padding: 100px;
}

.publicidad__dos {
  width: 100%;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboutUs__Image {
  width: 100%;
}

.aboutUs__ImageBoy {
  width: 100%;
}

.aboutUs__contenedorTexto {
  color: white;
  padding: 1.5em;
  width: 100%;
}

.aboutUs__titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tituloQuinientos {
  background-color: #ffaaaf;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 20px 0px 0px;
  font-size: 60px;
}

.tituloQuinientos h1 {
  margin: 0;
}

.tituloDos {
  margin: 0;
  font-size: 15px;
  width: 400px;
}

.slider__contenedor {
  width: 400px;
  height: 300px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */