$azul: #79aded;
$amarillo:#efd9aa;
$rosa: #ffaaaf;
$gris:#606060;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    box-sizing: border-box; 
}

html, body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;   
}
/* _______________Menú de navegación principal______________________*/

/* contiene todo en una columna centrada */

.mainInicio{
    background-color: $azul;
    height: 130px;
}
.contenedor{
    max-width: 1200px;
    margin: 0px auto; /* para que deje el espacio a lado y lado*/
    display: flex; /* para que sus elementos queden en linea*/
    padding: 0px 1px; /* espacio a lado y lado*/
}

.mainInicio__logo{

    width: 338px;
    height: 67px;
    margin-top: 40px;

}

.mainNav{
    display: wrap;
    padding: 60px 100px; /* espacio a lado y lado*/
}

.mainNav__link{
    color:#fff;
    text-decoration: none;
    padding: 6px 8px;
    font-size: .8em;
}

.mainNav__link:hover{
    color: $amarillo;
}

.mainnav__link:nth-child(1){
    margin-left: -8px;
}

.banner__imagenInicial{
    width: 100%;
      
}


.banner__info{
    position: absolute;
    top:450px;
    left: 100px;
    font-size: 21px;

    
  }
